*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 
  background-image: url(../src/assets/images/bg2.avif);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.container{
  width: 90vw;
  height: 90vh;
  background-color: rgba(17,25,40,.8);
  backdrop-filter: blur(26px) saturate(190%);
  border-radius: 10px;

}
.body-lists{
  display: flex;
  color: white;
  justify-content: space-between;

}
.bg{
  width: 90vw;
  height: 90vh;
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(26px) saturate(190%);
  border-radius: 10px;
  color: white;

}

@media (max-width:769px){
	.container{
    width: 100vw;
    height: 100vh;
  }
  .body-lists:last-child{
    display: none;
  }
}
