.chat{
    flex: 2;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.user-name{
    display: flex;
    gap: 20px;
}
.user-name .text{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}
.user-name img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.address{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.bottom{
    display: flex;
 
    padding: 30px 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* border-bottom: 1px solid gray; */
    margin-bottom: auto;
    /* border-top: 1px solid gray; */

}
.cameras{
    display: flex;
    align-items: center;
    gap: 10px;
cursor: pointer;
}
.middle-input{
     background-color: rgba(17,25,40,.8);
     flex: 2;

}


/* middle texts */
.middle {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: calc(100vh - 190px); 
}
.middle::-webkit-scrollbar{
    display: none;
}
.send-message{
    max-width: 70%;
    display: flex;
    gap: 10px;
    text-align: start;
     background-color: rgba(17,25,40,.8);
    padding: 10px;
    border-radius: 10px;
    
}
.send-message span{
    font-size: 12px;
}
.own{
    align-self: flex-end;
    background-color: rgb(15, 43, 199);
    padding: 10px;
    border-radius: 10px;
}
.send-message img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* bottom */
.middle-input input{
    background-color: transparent;
    padding: 5px 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    padding: 8px ;
   
}
.send{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.send span:first-child{
    color: yellow;
}
.send span:last-child:hover{
    color: green;
}

.main-emoji{
    position: relative;
}
.emoji-picker{
    position: absolute;
    right: 0;
    top: 0;
}

.no_chat{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    font-style: italic;
    font-size: 40px;
    line-height: 1.4;
}